transformers == 5.4.0
torch
flask
streamlit 
pandas 
plotly-express 
streamlit-authenticator
openai
supertonic
sounddevice
soundfile

# requirements for TTS

flask
streamlit 
pandas 
plotly-express 
streamlit-authenticator
openai
supertonic
sounddevice
soundfile

#requirements for LM Studio
flask
streamlit 
pandas 
plotly-express 
streamlit-authenticator
openai